<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOARD - MAIN</title>
</head>
<body>
    <h1 align="center">게시판 메인 화면</h1>
    <main>
        <table border="1" width="800" align="center">
            <thead>
                <tr>
                    <th>순번</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </main>
</body>
</html>