<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOARD - MAIN</title>
</head>
<body>
    <h1 align="center">게시판 메인 화면</h1>
    <h4>[[${session.user.nickname}]]님! 안녕하세요^0^</h4>
    <main>
        <a href="/board/post">작성</a>
        <div th:text="${posts}"></div>
        <table border="1" width="800" align="center">
            <thead>
                <tr>
                    <th>순번</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post,stat: ${posts}">
                    <td th:text="${stat.count}">1</td>
                    <td>
                        <a th:href="@{'/board/post/' + ${post.no}}" th:text="${post.title}"></a>
                    </td>
                    <td th:text="${post.userId}">111</td>
                    <td th:text="${#temporals.format(post.postDate, 'yyyy-MM-dd HH:mm:ss')}">333</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>